body {
  background-color: #81c784;
}

.App {
  text-align: center;
  margin: 20px 40px;
}

.calendar-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.date-picker-container {
  padding: 20px;
  border-radius: 20px;
}

.message {
  padding: 15px;
}
