body {
  background-color: #81c784;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.App {
  margin: 20px 40px;
}

.heading {
  text-align: center;
}

.sub-heading {
  display: inline-block;
  width: 50%;
  padding: 10px;
}

hr {
  border: 0; 
  border-top: 2px solid #1b5e20;
}

.calendar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.date-picker-container {
  padding: 5px;
  width: 330px;
}

.message {
  padding: 15px;
}

.no-watering {
  padding-top: 150px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.study-link {
  color:#1b5e20;
}

/* form styling */

.add-plant-form {
  text-align: center;
  padding: 15px;
}

input {
  margin: 10px;
  border: none;
  border-radius: 3px;
  height: 35px;
  width: 250px;
  font-size: medium;
}

.submit-btn {
  height: 35px;
  width: 150px;
  border: none;
  border-radius: 3px;
  font-size: medium;
  margin: 10px;
  background-color:#4caf50;
}

.error {
  color: red;
}

/* responsive */

@media screen and (max-width: 800px) {
  .sub-heading {width: 95%;}
  .calendar-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
  }
  .no-watering {
    padding-top: 0px;
  }
}


