body {
  background-color: #81c784;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}

.App {
  margin: 20px 40px;
}

.title {
  text-align: center;
}

.calendar-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.date-picker-container {
  padding: 20px;
  width: 350px;
  border-radius: 20px;
}

.message {
  padding: 15px;
}

.plants-list {

}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}